In [1]:
import pandas as pd

In [3]:
import os

In [5]:
os.listdir("ventas_comercial") #lista los archivos de la carpeta

['A Comedy of Errors.csv',
 'A Midsummer nights dream.csv',
 'A Winters Tale.csv',
 'Alls well that ends well.csv',
 'Antony and Cleopatra.csv',
 'As you like it.csv',
 'Coriolanus.csv',
 'Cymbeline.csv',
 'Hamlet.csv',
 'Henry IV.csv',
 'Henry V.csv',
 'Henry VI Part 1.csv',
 'Henry VI Part 2.csv',
 'Henry VI Part 3.csv',
 'Henry VIII.csv',
 'Julius Caesar.csv',
 'King John.csv',
 'King Lear.csv',
 'Loves Labours Lost.csv',
 'macbeth.csv',
 'Measure for measure.csv',
 'Merchant of Venice.csv',
 'Merry Wives of Windsor.csv',
 'Much Ado about nothing.csv',
 'Othello.csv',
 'Pericles.csv',
 'Richard II.csv',
 'Richard III.csv',
 'Romeo and Juliet.csv',
 'Taming of the Shrew.csv',
 'The Tempest.csv',
 'Timon of Athens.csv',
 'Titus Andronicus.csv',
 'Troilus and Cressida.csv',
 'Twelfth Night.csv',
 'Two Gentlemen of Verona.csv']

In [7]:
path = "ventas_comercial"

In [8]:
files = [os.path.join(path, file) for file in os.listdir(path)] #variable de lista que incluye a tods los path de esos archivos. Para que te de el path, te une el path con el archivo "join", el general al archivo

In [10]:
print(files)

['ventas_comercial\\A Comedy of Errors.csv', 'ventas_comercial\\A Midsummer nights dream.csv', 'ventas_comercial\\A Winters Tale.csv', 'ventas_comercial\\Alls well that ends well.csv', 'ventas_comercial\\Antony and Cleopatra.csv', 'ventas_comercial\\As you like it.csv', 'ventas_comercial\\Coriolanus.csv', 'ventas_comercial\\Cymbeline.csv', 'ventas_comercial\\Hamlet.csv', 'ventas_comercial\\Henry IV.csv', 'ventas_comercial\\Henry V.csv', 'ventas_comercial\\Henry VI Part 1.csv', 'ventas_comercial\\Henry VI Part 2.csv', 'ventas_comercial\\Henry VI Part 3.csv', 'ventas_comercial\\Henry VIII.csv', 'ventas_comercial\\Julius Caesar.csv', 'ventas_comercial\\King John.csv', 'ventas_comercial\\King Lear.csv', 'ventas_comercial\\Loves Labours Lost.csv', 'ventas_comercial\\macbeth.csv', 'ventas_comercial\\Measure for measure.csv', 'ventas_comercial\\Merchant of Venice.csv', 'ventas_comercial\\Merry Wives of Windsor.csv', 'ventas_comercial\\Much Ado about nothing.csv', 'ventas_comercial\\Othello.csv', 'ventas_comercial\\Pericles.csv', 'ventas_comercial\\Richard II.csv', 'ventas_comercial\\Richard III.csv', 'ventas_comercial\\Romeo and Juliet.csv', 'ventas_comercial\\Taming of the Shrew.csv', 'ventas_comercial\\The Tempest.csv', 'ventas_comercial\\Timon of Athens.csv', 'ventas_comercial\\Titus Andronicus.csv', 'ventas_comercial\\Troilus and Cressida.csv', 'ventas_comercial\\Twelfth Night.csv', 'ventas_comercial\\Two Gentlemen of Verona.csv']

In [11]:
df = pd.concat(map(pd.read_csv, files), ignore_index = True) #me lee todos los path y me los concatena

In [13]:
df

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,22427,22428,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,ACT I
1,22428,22429,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,SCENE I. A hall in DUKE SOLINUS'S palace.
2,22429,22430,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,"Enter DUKE SOLINUS, AEGEON, Gaoler, Officers, ..."
3,22430,22431,A Comedy of Errors,1.0,1.1.1,AEGEON,"Proceed, Solinus, to procure my fall"
4,22431,22432,A Comedy of Errors,1.0,1.1.2,AEGEON,And by the doom of death end woes and all.
...,...,...,...,...,...,...,...
111391,107902,107903,Two Gentlemen of Verona,52.0,5.4.177,VALENTINE,"Come, Proteus, 'tis your penance but to hear"
111392,107903,107904,Two Gentlemen of Verona,52.0,5.4.178,VALENTINE,The story of your loves discovered:
111393,107904,107905,Two Gentlemen of Verona,52.0,5.4.179,VALENTINE,"That done, our day of marriage shall be yours,"
111394,107905,107906,Two Gentlemen of Verona,52.0,5.4.180,VALENTINE,"One feast, one house, one mutual happiness."
111395,107906,107907,Two Gentlemen of Verona,52.0,NaN,VALENTINE,Exeunt

In [15]:
len(df)

111396

In [17]:
df.columns

Index(['Unnamed: 0', 'Dataline', 'Play', 'PlayerLinenumber', 'ActSceneLine',
       'Player', 'PlayerLine'],
      dtype='object')

In [20]:
len(df.columns)

7

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111396 entries, 0 to 111395
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        111396 non-null  int64
 1   Dataline          111396 non-null  int64
 2   Play              111396 non-null  object
 3   PlayerLinenumber  111393 non-null  float64
 4   ActSceneLine      105153 non-null  object
 5   Player            111389 non-null  object
 6   PlayerLine        111396 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.9+ MB