In [2]:
import pandas as pd

In [3]:
path_file = "allLines.txt"

In [4]:
df = pd.read_csv(path_file,delimiter=" ")

In [5]:
df

                                                    ACT I
0                            SCENE I. London. The palace.
1       Enter KING HENRY, LORD JOHN OF LANCASTER, the ...
2                  So shaken as we are, so wan with care,
3              Find we a time for frighted peace to pant,
4          And breathe short-winded accents of new broils
...                                                   ...
111390         Lead us from hence, where we may leisurely
111391              Each one demand an answer to his part
111392     Perform'd in this wide gap of time since first
111393             We were dissever'd: hastily lead away.
111394                                             Exeunt

[111395 rows x 1 columns]

In [6]:
len(df)

111395

In [8]:
df.columns

Index(['ACT I'], dtype='object')

In [9]:
len(df.columns)

1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111395 entries, 0 to 111394
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ACT I   111395 non-null  object
dtypes: object(1)
memory usage: 870.4+ KB

In [11]:
df.head()

                                               ACT I
0                       SCENE I. London. The palace.
1  Enter KING HENRY, LORD JOHN OF LANCASTER, the ...
2             So shaken as we are, so wan with care,
3         Find we a time for frighted peace to pant,
4     And breathe short-winded accents of new broils